<div class="admin-body">
    <%if user_signed_in? && current_user.admin?%>
       <%=render partial: 'admincontrol/category'%>

        

    <%else%>
        <div class="admin-index-inner container">
            접근 권한이 없습니다.
        </div>
    <%end%>
</div>

<script>
    $(".admin-index-user-ct").addClass("admin-index-activebtn")
    $(".admin-index-category").not(".admin-index-user-ct").removeClass("admin-index-activebtn")
    
    
</script>