<%# <div class="comments-header">  
        <h4>답변 (<%= commentable.comment_threads.count %>

 
<div class="comments-container">  
    <% if @freeboard.category == "질문글" %>
        <%= render partial: "comments/answer",  locals: {comments: commentable.root_comments} %>
    <% else %>
        <%= render partial: "comments/reply",  locals: {comments: commentable.root_comments} %>
    <% end %>
</div>