<%# <h1>New Recipe</h1> %>

<%#= render 'form', recipe: @recipe %>

<%#= link_to 'Back', recipes_path %>
<div class="w-100 d-flex justify-content-center">
<%=image_tag("ready-beige.png", class:"recipe-ready-pic")%>
</div>