<%# <h1>New Recipe</h1> %>

<%#= render 'form', recipe: @recipe %>

<%#= link_to 'Back', recipes_path %>
<div class="w-100 d-flex justify-content-center">
    <div class="big-title recipe-new-ready">레시피 작성하기는 준비 중인 기능입니다. 곧 만나요!</div>
</div>