<%# 식당찾기 탭 눌렀을 때 %>
<div id="main-contents-allergy" class="container">
   <div class="search-full-box">
        <%= render partial: 'home/search' %>
    </div>
</div>

<div class="rst-howto-wrap">
  <div class="rst-howto-box">
    <div class="rst-howto-container container">
      <div class="rst-howto-title">이용방법 안내</div>
      <div class="rst-howto-imagebox d-flex justify-content-center">
        <%=image_tag("howto.PNG", class:"rst-howto-image")%>
      </div>
    </div>
  </div>
</div>
