@import "bootstrap";
@import "menus.scss";
@import "font-awesome";
@import 'header.scss';
@import "recipes.scss";
@import "profiles.scss";
@import "home.scss";
@import "restaurants.scss";
@import "zizuminfos.scss";
@import "freeboards.scss";

a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}

/// 폰트 안돼서 임시 ///
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
font-family: 'NanumBarunGothic';
font-style: normal;
font-weight: 700;
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
font-family: 'NanumBarunGothic';
font-style: normal;
font-weight: 300;
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
font-family: 'NanumBarunGothic', sans-serif;
}
////////////////

body{
    overflow-x:hidden;
    overflow-y:auto;
    font-family: 'NanumBarunGothic',serif;
  
}

// select {
//      -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
//      -moz-appearance: none;
//      appearance: none;
//      background-size: 15px;
//      background: url("down-arrow.png") white no-repeat 98% !important; /* 화살표 모양의 이미지 */ 
// } /* IE 10, 11의 네이티브 화살표 숨기기 */ 

// select::-ms-expand {
//      display: none; 
// }

