@import "bootstrap";
@import "menus.scss";
@import "font-awesome";
@import 'header.scss';
@import "recipes.scss";
@import "profiles.scss";
@import "home.scss";
@import "restaurants.scss";
@import "zizuminfos.scss";
@import "freeboards.scss";
@import "footer.scss";
@import "admincontrol.scss";
@import "legal.scss";


.small-title{
    font-size: 1rem;
    font-weight: 700;
}

.middle-title{
    font-size: 1.2rem;
    font-weight: 700;
}

.big-title{
    font-size: 1.4rem;
    font-weight: 700;
}
//--------------------modal
.modal{
    font-family: 'NanumBarunGothic',serif;
}


.modal-title{
    font-weight: 500;
    font-size: 1.1rem;
}

a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}

/// 폰트 안돼서 임시 ///
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
font-family: 'NanumBarunGothic';
font-style: normal;
font-weight: 700;
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
font-family: 'NanumBarunGothic';
font-style: normal;
font-weight: 300;
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
font-family: 'NanumBarunGothic', sans-serif;
}
////////////////

body{
    overflow-x:hidden;
    overflow-y:auto;
    font-family: 'NanumBarunGothic',serif;
  
}


// select {
//      -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
//      -moz-appearance: none;
//      appearance: none;
//      background-size: 15px;
//      background: url("down-arrow.png") white no-repeat 98% !important; /* 화살표 모양의 이미지 */ 
// } /* IE 10, 11의 네이티브 화살표 숨기기 */ 

// select::-ms-expand {
//      display: none; 
// }

//회원가입 CSS 임시로 여기서!

.RegisterSection {
    font-family: 'NanumBarunGothic'; 
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //text-align: center;
}

.RegisterForm {
    background-color: white;
    height: 100%;
    width: 800px;
    padding-right: 5%;
    padding-left: 5%;
    border: 2px solid #1E285D; 
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.RegisterFormHeader {
    margin-top: 2rem; 
    margin-bottom: 2rem;
    text-align: center;
}

.RegisterFormMust {
    text-align: "right";
}