// Place all the styles related to the freeboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-contents{
    margin-top: 3rem;
    // margin-bottom: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.post-edit{
    float:right;
    margin-bottom:1rem;
    font-weight:lighter;
}
.post-body img{
    max-width:100%;
    max-height:100%;
}
// .post2-contents{
//     display:flex;
//     flex-direction:column;
//     justify-content:center;
//     background-color:#F8F8F8;    
// }
// category nav
.nav-link{
    cursor:pointer;
    border-radius:0px;
    border:0.1px solid rgba(201, 200, 200, 0.438);   
    width:8rem;
    height:2.2rem;
    text-align:center;   
    font-size:0.8rem;
    color:black;
    background-color:white;
}
.nav-link:hover{
    background-color:rgb(0,48,124) !important;
    color:white !important;
}
.selected{
    background-color:rgb(0,48,124);
    color:white !important;
}
//table
.contents{
    margin-top: 3rem;
    padding:3rem 0rem 0rem;
    width: 100%;
    background-color:#F8F8F8;

}
.post-num{
    font-weight: bold;
    text-align:left;
    margin-left:10%;
    font-size:0.9rem;    
}

.post-table{
    display: flex;
    align-items:center;
    flex-direction: column;
    
}

.post-table table{
    background-color:white;    
    width: 80%;
    text-align:center;
}


#post-table td.title{
    cursor:pointer;
}

.post-td-gray{
    color: #8d8d8d;
}
.post-table table thead tr th{
    font-size: 0.8rem;
    // background-color: rgba(100, 133, 184, 0.966);
    border-top: 3px solid #002f7b;
    // border-bottom:1.5px solid rgb(4, 30, 73) !important;
    vertical-align: bottom;
    border-bottom-width: 1.3px;
}

.post-table tbody{
    font-size: 0.75rem;
}
th.title{
    padding-right:25%;
}
td.title{
    text-align:left;
}
.post-btn{
    cursor: pointer;
    margin-top:2rem;
    margin-left: auto;
    text-align: center;
    width: 3rem;
    height: 2.2rem;
    // border-style: solid;
    // border-color: rgb(83, 83, 83);
    // color: rgb(83, 83, 83);
    background-color:#002f7b;
    // color:white;
    border-width: 0.3px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 0.8rem;
    line-height: 2.2rem;
    color:white;
}


.postpost-btn
{  
    margin-top: 2rem;
    width: 100%;
    display:flex;
    justify-content: center;
}

.postpost-btn-width{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.freeboard-new-graybox{
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 0rem;
}

.new-linkto{
    color:#FF5400;
}
// .new-linkto:hover{
//     color:white!important;
// }
.post-linkto{
    // margin-right: auto;
    color:rgb(4, 30, 73);
}
.back{
    display:flex;
    justify-content: flex-end
}

.linkto, .linkto-cancel{
    color:black;
}

.linkto:hover{
    color:black;
}

.freeboard-new-btnbox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.freeboard-submit-btnbox{
    margin:0rem 1rem;
}
//search tab
.btn-search{
    background-color:transparent;
    border-style: solid;
    border-width: 0.3px;
    border-color: #FF5400;
    color: #FF5400;
    border-radius:0px;
    font-size:0.8rem;
    width: 7rem;
    height: 2.2rem;
}

.btn-search:hover{
    background-color:#FF5400; 
    color:white;   
}
.btn-cancel{
    background-color:transparent;
    border-style: solid;
    border-width: 0.3px;
    border-color: gray;
    color: gray;
    border-radius:0px;
    font-size:0.8rem;
    width: 5rem;
    height: 2rem;
}

.search.form-control{
    border-radius:0px;   
    border:0.3px solid rgba(201, 200, 200, 0.7);  
    width:20rem;      
}
.search.form-control::placeholder{
    font-size:0.7rem;
}

.back-btn{
    margin: 0rem 1rem;
    text-decoration: none;
    -webkit-appearance: none;
    text-align: center;
    width: 7rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-style: solid;
    border-color: rgb(83, 83, 83);
    color: rgb(83, 83, 83);
    border-width: 0.3px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 0.8rem;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}



.back-btn:hover{

    .linkto-cancel{
        -webkit-appearance: none;
        text-decoration: none;
        color: white;
    }

    text-decoration: none;
    background-color: rgb(83, 83, 83);
    color: white !important;
}

///////view페이지///////////
.post-view{
    background-color:white;
    border: 0.1px solid rgba(201, 200, 200, 0.438);
    padding: 2.5rem;
    padding-bottom:3rem;
    margin-bottom:3.5rem;
}
.post-profile-img{
    border-radius:50%;
    width:2.5rem;
    height:2.5rem;
    margin: 0.3rem 1rem 0rem 0rem;
}

//댓글창
.comment-view{
    background-color:white;
    border: 0.1px solid rgba(201, 200, 200, 0.438);
    padding: 1.5rem;

}
.comment.form-control{
    width:90%;
    height:5rem;
   border-radius:0px;
   border: 0.1px solid rgba(201, 200, 200, 0.438);   
}
.comment.form-control::placeholder{
    font-size:0.8rem;
}
.comment-profile-img{
    border-radius:50%;
    width:2.5rem;
    height:2.5rem;
    margin: 0.3rem 1rem 1rem 0rem;
}
// .comment-content{
//    border-bottom: 0.1px solid rgba(201, 200, 200, 0.438);    
// }
.comment-btn{
    width:10%;
    height:5rem;
    background-color:rgb(0,48,124);
    color:white;
    border:none;
    font-size: 0.9rem;
}
.reply-btn{
    background-color:white;
    border:1px solid rgb(201, 200, 200);
    padding:0.2rem 0.6rem;
    font-size:0.9rem; 
    float:right;
}
.reply-end-btn{
    background-color:white;
    border:1px solid rgb(201, 200, 200);
    padding:0.2rem 0.6rem;
    font-size:0.9rem; 
    margin-left:auto;
}
.fa-level-up-alt{
    transform: rotateZ(90deg);
    margin: 0rem 0.7rem;
    color:rgb(173, 173, 173);
}
a.vote-btn{
    color:rgb(0,48,124);
    font-size:1.2rem;
}
a.disabled.vote-btn{
    color:rgb(150, 150, 150);
    font-size:1.2rem;
    
}

