.wholebackground {
    background-color: #F2F1F0;
}

.headerfont{
    font-weight: bold;
    font-family: 'Jeju Myeongjo', serif;
    color:#454338;
}

.navbarstyle {
    position: fixed;
    display: flex;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-family: 'Jeju Myeongjo', serif;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-trasition: 0.6s;
    transition: 0.6s;
    z-index:999;
}

.navbarcontent{
    display: flex;
    justify-content: space-around;
    width: 40em;
    align-items: left;
}
.navbarconent:hover{
    color: #454338;
}

.logo {
    width:100px;
    height:30px;
    margin-left: 28px;
}