// Place all the styles related to the legal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.legal-gray-box{
    width: 100%;
    background-color:  #F8F8F8; 
}

.legal-content-box{
    width: 80%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
