// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rst-howto-wrap{
    margin-top: 4rem;
    height: 750px; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.rst-howto-box{
    width: 1300px;
    height: 100%;
    background-color: #F8F8F8;
    font-family:  'NanumBarunGothic',serif;
}

.rst-howto-container{
    width: 100%;
    height: 100%;
}

.rst-howto-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.rst-howto-imagebox{
    margin-top: 2rem;
}

.rst-howto-image{
    width: 100%;
    height: 500px;
}