// Place all the styles related to the zizuminfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cursor-point{
    cursor: pointer;
}



