<div class="post-contents container">
    <%= render 'category' %>           
</div>
<div class= "post index-contents rtnt">
    <div class="edit new-post" > 
        <b>글 수정</b>  
        <p style = "font-weight:lighter;">작성한 글을 수정할 수 있습니다</p>
    </div>
        <%= render 'form', freeboard: @freeboard %>
</div>

