<div class="post-contents container">
    <%= render 'category' %>           
</div>
<div class= "post freeboard-new-graybox rtnt">
    <div class="new-post" > 
        <b>새로운 글 등록</b>  
        <p style = "font-weight:lighter;">새로운 글을 작성해주세요!</p>
    </div>
    <%= render 'form', freeboard: @freeboard %>  
</div>